---
import Footer from "../components/Footer.astro";
import Favicon from "../components/head/Favicon.astro";
import Metadata from "../components/head/Metadata.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

---

<!doctype html>
<html lang="es" class="scroll-smooth" data-theme="light">
	<head>
		<Metadata/>
		<Favicon/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>