---
import Footer from "../components/Footer.astro";
import Favicon from "astro-ui-lib/Favicon";
import Metadata from "astro-ui-lib/Metadata";
import Header from "../components/Header.astro";
import "astro-ui-lib/Style"
import "../styles/global.css";
import {config} from "../config";

---

<!doctype html>
<html lang="es" class="scroll-smooth" data-theme="light">
	<head>
		<Metadata/>
		<Favicon favicon={config.favicon}/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>